@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2'),
    url('../fonts/roboto-regular-webfont.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium-webfont.woff2'),
    url('../fonts/roboto-medium-webfont.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff2'),
    url('../fonts/roboto-bold-webfont.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #111111;
}
