.gallery-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.movie__card{
    width: 280px;
    height: 100%;
    position: relative;
    overflow: hidden;

    border-radius: 25px;

    background: #25759d;
    border: 1px solid #325e74;

    transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.movie__card:hover,
.movie__card:focus {
    box-shadow: 0px 1px 14px #f7df0d;
    border: 1px solid #f7df0d;
}

.movie__card-thumb {
    position: relative;
    display: flex;
}

.info-thumb {
    position: absolute;
    margin: 0;
    padding: 15px;
    bottom: 0;
    width: 100%;
    color: tomato;

}

.card__title--black {
    line-height: 1.17;
    text-transform: uppercase;
}