.catalog__form {

  margin: 0 auto;
  width: 264px;
 
  justify-content: center;
  gap: 10px;
  

  @include tablet {
    display: flex;
    width: 280px;
      min-height: 44px;
  };

  @include desktop {
      width: 398px;
  min-height: 48px;
  };
};

.catalog__form-input {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: inherit;


  // padding: 10px 142px 10px 20px;
 
  min-width: 190px;
  height: 40px;

  border: 1px solid#B7B7B7;
  border-radius: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);

  text-align: center;
  color: #000;

  cursor: pointer;
  outline: none;
  transition: 250ms;

  &::placeholder {
      color: #B7B7B7;
    };

    &:hover,
    &:focus
    &:not(:placeholder-shown) {
      justify-content: center;
      // padding: 10px 142px 10px 20px;
      border: 1px solid #f87719;
    };

 

    @include tablet {
      // padding: 12px 138px 12px 20px;
      width: 188px;
      height: 40px;

      &:hover,
      &:focus,
      &:not(:placeholder-shown) {
        padding: 12px 20px 12px 20px;
      };
    };

    @include desktop {
      // padding: 12px 260px 12px 24px;
      width: 315px;
      height: 48px;
  
      font-size: 16px;
      line-height: calc(19 / 16);
  
      &:hover,
      &:focus,
      &:not(:placeholder-shown) {
        padding: 12px 260px 12px 24px;
      };
    };
};

.div-flex{
  display: flex;
  justify-content: space-between;
 
  margin-top: 10px;
 
};



.gallery__films {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;

  @include tablet {
    row-gap: 28px;
    column-gap: 16px;
    margin-top: 36px;
  };

  @include desktop {
    row-gap: 32px;

    margin-top: 48px;
  };
};


.movie__card {
  margin-bottom: 32px;
  max-width: 280px;
  color: white;

  @include tablet {
      margin-bottom: 44px;
      max-width: 224px;
      width: calc(33.33% - 20px);
  };

  @include desktop {
      margin-bottom: 60px;
      max-width: 395px;

  };
};

.movie__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}; 

.movie__image {
  max-width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin: 0;

  @include tablet {
      min-width: 224px;
      height: 325px;
  };

  @include desktop {
      min-width: 395px;
      height: 574px;
  };

};

.info {
  position: absolute;
  left: 12;
  bottom: 12;
  @include desktop {
      left:20;
      bottom: 20;
  }
};

.info__title{
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
};

.info__genre{
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #B7B7B7;
};

#pagination {
  flex-shrink: 0;
  margin-bottom: 40px;
  margin-top: 0;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
  .tui-page-btn {
    border: 1px;
    line-height: 1.2px;
    font-weight: 500;
    color: #000;
    border-radius: 50%;
    border-color: getColor('buttons-color-dark-theme');
    &:hover {
      background-color: getColor('buttons-color-dark-theme');
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  .tui-is-selected {
    width: 25px;
    height: 25px;
    display: inline-flex;
    background-color: getColor('accent-color');
    color: white;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    &:hover {
      background-color: getColor('accent-color');
    }
    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
  .tui-ico-first,
  .tui-ico-last {
    margin-top: 8px;
  }
  .tui-ico-first {
    @media (min-width: 768px) {
      margin-right: 10px;
    }
  }
  .tui-ico-last {
    @media (min-width: 768px) {
      margin-left: 10px;
    }
  }
  .tui-prev {
    margin-right: 5px;
    @media (min-width: 768px) {
      margin-right: 10px;
    }
  }
  .tui-next {
    margin-left: 5px;
    @media (min-width: 768px) {
      margin-left: 10px;
    }
  }
  .tui-prev,
  .tui-next {
    width: 25px;
    height: 25px;

    background-color: #f7f7f7;
    border-radius: 5px;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: white;
      background-color: #d4d4d4;
    }
    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  .tui-ico-next,
  .tui-ico-prev {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
  }
  .tui-ico-prev {
    background-image: url('../images/icons.svg#icon-arrow-left.svg');
  }
  .tui-ico-next {
    background-image: url('../images/icons.svg#icon-arrow-right.svg');
  }
}



