.button__scroll__up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: bottom 0.3s ease-in-out;
}

.button__scroll__up:hover {
  background-color: #0062cc;
}

.button__scroll__up--show {
  bottom: 20px;
}

.library {
  margin-top: 24px;
  @include tablet {
    margin-top: 40px;
  }
}
