
.library {
  margin-top: 24px;
  @include tablet {
    margin-top: 40px;
  }
}

.library__message {
  margin-top: 44px;

  @include tablet {
    margin-top: 80px;
  }

  @include desktop {
    margin-top: 160px;
  }
}

.library__search-button {
  text-align: center;
  margin-top: 24px;

  @include tablet {
    margin-top: 40px;
  }
}

.search-button {
  width: 121px;
  height: 38px;
  padding: 10px 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  background: linear-gradient(
    141.22deg,
    getColor('accent-gradient1-from-color') 9.4%,
    getColor('accent-gradient1-to-color') 91.91%
  );
  border-radius: 74px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  display: inline-block;
  color: #111111;
  border: none;
  cursor: pointer;

  &.hidden {
    display: none;
  }

  &:hover,
  &:focus {
    background: linear-gradient(
      141.22deg,
      getColor('primary-text-color-dark-theme') 9.4%,
      getColor('primary-text-color-dark-theme') 91.91%
    );
    color: getColor('accent-color');
  }

  @include tablet {
    width: 133px;
    height: 40px;
    font-size: 14px;
    line-height: 1.14;
  }
  @include desktop {
    width: 158px;
    height: 52px;
    font-size: 16px;
    line-height: 1.5;
  }
}
