<div class="backdrop is-hidden" data-modal="modal-1">
  <div class="footer__modal scrollbar">
    <button
      class="modal__button-close"
      type="button"
      data-modal-close="modal-1"
    >
      <svg class="modal__icon-close">
        <use class="modal__cross" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="team">Wireless Warriors Team</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Svitlana.jpg"
            alt="Team Lead
          Svitlana"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Svitlana Lazurenko</h3>
          <p class="team__student-role">Team Lead</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/Svitlana-Lazurenko"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/svitlana-lazurenko/"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Roman.jpg"
            alt="Scrum master Roman"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Roman Abdalov</h3>
          <p class="team__student-role">Scrum Master</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/RomanAbdalov"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/роман-абдалов-2ab550261/"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Natalia.jpg"
            alt="Developer Natalia"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Natalia Nazarenko</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/NataliaNazarenko"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/наталія-назаренко-38a2991a9"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Andriy.jpg"
            alt="Developer Andriy"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Andriy Homzyk</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/Andrii55"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/andriy-homzyk-936586259/"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Marta.jpg"
            alt="Developer Marta"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Marta Rudnytska</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/ruudyaa"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/marta-r-aabb35219/"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Valeriy.jpg"
            alt="Developer Valeriy"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Valeriy Zhyla</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/vanvalera"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/valeriy-zhyla-9a763b275"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Artem.jpg"
            alt="Developer Artem"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Artem Bortyanyi</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/ArtemBortyaniy"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/artem-bortianiy"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Volodymyr.jpg"
            alt="Developer
          Volodymyr"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Volodymyr Horpynchenko</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/blowmybow"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/volodymyr-horpynchenko-6792b7256/"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Andrii.jpg"
            alt="Developer Andrii"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Andrii Rod</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a
                href="https://github.com/AndriiRod"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/andrii-rod-009999252/"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <div class="team__foto-thumb">
          <img
            class="team__student-foto"
            src="./images/modal-creators/dev-Maryna.jpg"
            alt="Developer Maryna"
            width="280px"
          />
        </div>
        <div class="team__student-card">
          <h3 class="team__student-name">Maryna</h3>
          <p class="team__student-role">Developer</p>
          <ul class="team__student-sm">
            <li>
              <a href="" target="_blank" rel="nofollow noopener noreferrer">
                <svg width="30" height="30" class="team__student-svg">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <svg
                  width="30"
                  height="30"
                  class="team__student-svg"
                  rel="nofollow noopener noreferrer"
                >
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
