<a href="./index.html">
    <img src="./images/logo.svg" alt="logo site the Cinemania" class="mobileMenu__logo">
</a>

<nav>
    <ul class="mobileMenu__list">
        <li class="mobileMenu__item">
            <a href="./index.html" class="mobileMenu__link" id="mobile-home">HOME</a>
        </li>
        <li class="mobileMenu__item">
            <a href="./catalog.html" class="mobileMenu__link" id="mobile-catalog">CATALOG</a>
        </li>
        <li class="mobileMenu__item">
            <a href="./my-library.html" class="mobileMenu__link" id="mobile-library">MY LIBRARY</a>
        </li>
    </ul>
</nav>