<div class="backdrop is-hidden" data-modal="modal-2">
  <div class="modal-trailer">
    <button
      class="trailer-modal__button-close"
      type="button"
      data-modal-close="modal-2"
    >
      <svg class="modal__icon-close">
        <use class="modal__cross" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="trailer-text">
      OOPS...<br />
      We are very sorry! <br />But we couldn’t find the trailer.
    </p>
    <img
      class="trailer-img"
      src="./images/trailer-modal/cinema.png"
      srcset="
        ./images/trailer-modal/cinema.png    1x,
        ./images/trailer-modal/cinema@2x.png 2x
      "
      alt="cinema simbols"
    />
  </div>
</div>
