<div class="backdrop is-hidden" data-modal="modal-1">
  <div class="modal-trailer">
    <button
      class="modal__button-close"
      type="button"
      data-modal-close="modal-2"
    >
      <svg class="modal__icon-close">
        <use class="modal__cross" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p>OOPS... We are very sorry! But we couldn’t find the trailer.</p>
    <img
      srcset="
        ../../images/trailer-modal/cinema.png        1x,
        ../../images/trailer-modal/cinema.png@2x.jpg 2x
      "
      src="../../images/trailer-modal/cinema.png"
      alt="cinema simbols"
      width="159"
      height="153"
    />
  </div>
</div>
