<div class="backdrop" data-modal="modal-1">
  <div class="modal-trailer">
    <button
      class="modal__button-close"
      type="button"
      data-modal-close="modal-2"
    >
      <svg class="modal__icon-close">
        <use class="modal__cross" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="trailer-text">
      OOPS...<br />
      We are very sorry! <br />But we couldn’t find the trailer.
    </p>
    <!-- <img
      src="../../images/logo.svg"
      alt="cinema simbols"
      width="159"
      height="153"
    /> -->
  </div>
</div>

<!--    srcset="
        ../../images/trailer-modal/cinema.png        1x,
        ../../images/trailer-modal/cinema.png@2x.jpg 2x
      " -->
