.btn {
  text-align: center;
  margin-top: 24px;
  @include tablet{
    margin-top: 40px;
  }
}

.load-more {
  width: 134px;
  height: 52px;

  padding: 12px 24px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  background: linear-gradient(
    141.22deg,
    getColor('accent-gradient1-from-color') 9.4%,
    getColor('accent-gradient1-to-color') 91.91%
  );
  border-radius: 74px;
  padding: 5px 10px;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
  color: #111111;
  border: none;

  cursor: pointer;

  &.hidden {
    display: none;
  }

  &:hover,
  &:focus {
    background: linear-gradient(
      141.22deg,
      getColor('primary-text-color-dark-theme') 9.4%,
      getColor('primary-text-color-dark-theme') 91.91%
    );
    color: getColor('accent-color');
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.14;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero-btn {
  padding: 12px 24px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  background: linear-gradient(
    141.22deg,
    getColor('accent-gradient1-from-color') 9.4%,
    getColor('accent-gradient1-to-color') 91.91%
  );
  border-radius: 74px;
  color: #111111;
  border: none;

  cursor: pointer;

  @include tablet {
    font-size: 14px;
    line-height: 1.14;
  }
  @include desktop {
    font-size: 16px;
    line-height: 1.5;
  }
}

:root {
  --accent-btn-bg-color:linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%); 
  --accent-btn-text-color:#111111; 
  --modalhover-btn-bg-color:#ffffff;
  --primary-bg-color: #000000;
  --second-bg-color: #111111;
  --primary-text-color: #ffffff;
  --secondary-text-color: #f8f8f8;
  --tertiary-text-color: #b7b7b7;
  --buttons-color: #b7b7b7;
  --input-color: #1c1c1c;
  --shadow-color-dark-theme: rgba(255, 107, 8, 0.42);
}

.theme__white {
  --accent-btn-bg-color:#ffffff;
  --accent-btn-text-color:#111111; 
  --modalhover-btn-bg-color:#111111;
  --primary-bg-color:#ffffff;
  --second-bg-color:  #ffffff;
  --primary-text-color: #111111;
  --secondary-text-color: #282828;
  --tertiary-text-color: #595959;
  --buttons-color: #595959;
  --input-color: #f8f8f8;
  --shadow-color-dark-theme: rgba(0, 0, 0, 0.22);
  --shadow-color-dark-theme: rgba(255, 107, 8, 0.42);
}

%btn--base{
  
  display: flex;
  text-align: center;
 justify-content: center;
  font-weight: 500;
  border-radius: 74px;
  padding: 12px 24px;
  border-width: 1px;
  &:hover, &:focus {
    box-shadow: 1px 1px 14px rgba(1, 1, 1, 0.25);


}
}
%btn--color--accent {
border-color: getColor(accent-color);
  color:var(--accent-btn-text-color);
  background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%); 
      // border-color: transparent;
      transition: all 250ms linear;
  &:hover, &:focus {
    box-shadow: 1px 1px 14px rgba(1, 1, 1, 0.25);
    background:  #ffffff;
    color:getColor(accent-color);
    border-width: 1px;
    border-color: getColor(accent-color);
    // transition: all 250ms linear;
    }
}


%btn--color--addmodal{
    border-color: getColor(accent-color);
    color:var(--primary-text-color);
    background: var(--primary-bg-color); 
    transition: all 250ms linear;
    &:hover, &:focus {
      box-shadow: 1px 1px 14px rgba(1, 1, 1, 0.25);
      background: var(--modalhover-btn-bg-color); 
      color:getColor(accent-color);
      transition: all 250ms linear;
  } 

}

%btn--textsize-addmodal{
  font-size: 12px;
  line-height: 14px;

 @include tablet{
  font-size: 12px;
  line-height: 14px
 }
 @include desktop{
  font-size: 12px;
line-height: 16px;
 } 
}

%btn--textsize--accenttop {
   font-size: 12px;
    line-height: 14px;

   @include tablet{
    font-size: 14px;
    line-height: 20px
   }
   @include desktop{
    font-size: 16px;
  line-height: 24px;
   }
 
  }
  %btn--textsize--accentmore {
    font-size: 12px;
     line-height: 14px;
 
    @include tablet{
     font-size: 14px;
     line-height: 16px
    }
    @include desktop{
     font-size: 18px;
   line-height: 28px;
    }
  
   }


.accent__btn {
//  кнопки кольору accent на Hiro - watch treller ...
  @extend %btn--base;
  @extend %btn--textsize--accenttop;
  @extend %btn--color--accent;
}


.remind__btn {
  // кнопка  remind me
  @extend %btn--base;  
  @extend %btn--color--accent;
  @extend %btn--textsize--accentmore;
  @include desktop{
    font-size: 14px;
  line-height: 16px;

   }
}

.accentmore__btn{
    // кнопки  Load More та Search movie(labrary)
  @extend %btn--base;
  @extend %btn--textsize--accentmore;
  @extend %btn--color--accent;
}

.addmodal__btn{
 // кнопки  Add/Remove to library (модалка) 
  @extend %btn--base;
  @extend %btn--textsize-addmodal;
  @extend %btn--color--addmodal;
}

.white-theme .addmodal__btn{
  color:var(--light-theme-color-text);
  background: #ffffff ;
}
.white-theme .addmodal__btn:hover{
  color:getColor(accent-color);
  background:  #111111 ;
}
.white-theme .addmodal__btn:focus{
  color:getColor(accent-color);
  background:  #111111 ;
}


.btnicon__search--base{
  height: 40px;
  width: 40px;   
  border-radius: 50%;
 display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: getColor(accent-color);
  border-color: transparent;
 @include tablet{
  height: 44px;
  width: 44px; 
 }
 @include desktop{
  height: 48px;
  width: 48px; 
}
transition: all 250ms linear;
&:hover, &:focus {
  box-shadow:1px 1px 14px rgba(1, 1, 1, 0.25); 
  background: #ffffff;
  border-color: getColor(accent-color);
  border-width: 1px;
  transition: all 250ms linear;
}
&:hover .icon__search--color{
  fill: getColor(accent-color); 
  // transition: all 250ms linear;
}
&:focus .icon__search--color{
  fill: getColor(accent-color); 
  // transition: all 250ms linear;
}
}

.icon__search{
  // надає залежність bg кнопки від теми
  fill: #ffffff; 
  // transition: all 250ms linear;
display:block;
height: 12px;
width: 12px;

@include tablet{
 height: 18px;
 width: 18px;
}
@include desktop{
  height: 20px;
  width: 20px;
 }
 &:focus, &:hover {
  fill: getColor(accent-color); 
  transition: all 250ms linear;
}
}
.white-theme .icon__search{
  fill: var(--light-theme-color-text);
}

