


<div class="itc-select" id="select-1">
    <!-- Кнопка для открытия выпадающего списка -->
    <button type="button" class="itc-select__toggle" name="genre" value="" data-select="toggle" data-index="-1">Year</button>
    <!-- Выпадающий список -->
    <div class="itc-select__dropdown">
        <ul class="itc-select__year">
        </ul>
    </div>
</div>

<div class="itc-select" id="select-2">
    <!-- Кнопка для открытия выпадающего списка -->
    <button type="button" class="itc-select__toggle" name="genre" value="" data-select="toggle" data-index="-1">Genre</button>
    <!-- Выпадающий список -->
    <div class="itc-select__dropdown">
        <ul class="itc-select__genres">
        </ul>
    </div>
</div>

<div class="itc-select" id="select-3">
    <!-- Кнопка для открытия выпадающего списка -->
    <button type="button" class="itc-select__toggle" name="country" value="" data-select="toggle" data-index="-1">Country</button>
    <!-- Выпадающий список -->
        <div class="itc-select__dropdown">
        <ul class="itc-select__countries">
        </ul>
    </div>
</div>

<div>
  <ul class="gallery-films"></ul>
</div>
<div id="pagination" class="tui-pagination"></div>