<svg width="0" height="0" class="hidden">
  <symbol
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 136 24"
    id="star-filled"
  >
    <path
      fill="url(#a)"
      d="M18.469 22.5a.75.75 0 0 1-.44-.14L12 17.987 5.971 22.36a.75.75 0 0 1-1.15-.847l2.35-6.965-6.093-4.179A.75.75 0 0 1 1.5 9h7.518l2.268-6.982a.75.75 0 0 1 1.427 0l2.27 6.984H22.5a.75.75 0 0 1 .424 1.369l-6.096 4.176 2.35 6.963a.752.752 0 0 1-.71.99Z"
    ></path>
    <path
      fill="url(#b)"
      d="M46.469 22.5a.75.75 0 0 1-.44-.14L40 17.987l-6.029 4.371a.75.75 0 0 1-1.15-.847l2.35-6.965-6.093-4.179A.75.75 0 0 1 29.5 9h7.518l2.268-6.982a.75.75 0 0 1 1.427 0l2.27 6.984H50.5a.75.75 0 0 1 .424 1.369l-6.096 4.176 2.35 6.963a.752.752 0 0 1-.71.99Z"
    ></path>
    <path
      fill="url(#c)"
      d="M74.469 22.5a.75.75 0 0 1-.44-.14L68 17.987l-6.029 4.371a.75.75 0 0 1-1.15-.847l2.35-6.965-6.093-4.179A.75.75 0 0 1 57.5 9h7.518l2.269-6.982a.75.75 0 0 1 1.426 0l2.27 6.984H78.5a.75.75 0 0 1 .424 1.369l-6.096 4.176 2.35 6.963a.752.752 0 0 1-.71.99Z"
    ></path>
    <path
      fill="url(#d)"
      d="M102.469 22.5a.748.748 0 0 1-.44-.14L96 17.987l-6.029 4.371a.75.75 0 0 1-1.15-.847l2.35-6.965-6.093-4.179A.75.75 0 0 1 85.5 9h7.518l2.269-6.982a.75.75 0 0 1 1.426 0l2.27 6.984h7.517a.75.75 0 0 1 .424 1.369l-6.096 4.176 2.35 6.963a.745.745 0 0 1-.101.676.753.753 0 0 1-.608.314Z"
    ></path>
    <path
      fill="url(#e)"
      d="M130.469 22.5a.748.748 0 0 1-.44-.14L124 17.987l-6.029 4.371a.748.748 0 0 1-1.15-.847l2.351-6.965-6.094-4.179a.745.745 0 0 1-.293-.84A.748.748 0 0 1 113.5 9h7.518l2.269-6.982a.745.745 0 0 1 .713-.519.75.75 0 0 1 .713.519l2.269 6.984h7.518a.75.75 0 0 1 .424 1.369l-6.096 4.176 2.35 6.963a.745.745 0 0 1-.101.676.753.753 0 0 1-.608.314Z"
    ></path>
    <defs>
      <linearGradient
        id="a"
        x1="3.5"
        x2="18.5"
        y1="3"
        y2="23"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="b"
        x1="31.5"
        x2="46.5"
        y1="3"
        y2="23"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="c"
        x1="59.5"
        x2="74.5"
        y1="3"
        y2="23"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="d"
        x1="87.5"
        x2="102.5"
        y1="3"
        y2="23"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="e"
        x1="115.5"
        x2="130.5"
        y1="3"
        y2="23"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
    </defs>
  </symbol>
  <symbol
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 136 24"
    id="star-empty"
  >
    <path
      stroke="url(#a)"
      stroke-linejoin="round"
      d="M22.5 9.75h-8.063L12 2.25l-2.438 7.5H1.5l6.563 4.5-2.532 7.5L12 17.062l6.469 4.688-2.532-7.5 6.563-4.5Z"
    ></path>
    <path
      stroke="url(#b)"
      stroke-linejoin="round"
      d="M50.5 9.75h-8.063L40 2.25l-2.438 7.5H29.5l6.563 4.5-2.532 7.5L40 17.062l6.469 4.688-2.532-7.5 6.563-4.5Z"
    ></path>
    <path
      stroke="url(#c)"
      stroke-linejoin="round"
      d="M78.5 9.75h-8.063L68 2.25l-2.438 7.5H57.5l6.563 4.5-2.532 7.5L68 17.062l6.469 4.688-2.531-7.5 6.562-4.5Z"
    ></path>
    <path
      stroke="url(#d)"
      stroke-linejoin="round"
      d="M106.5 9.75h-8.063L96 2.25l-2.438 7.5H85.5l6.563 4.5-2.532 7.5L96 17.062l6.469 4.688-2.531-7.5 6.562-4.5Z"
    ></path>
    <path
      stroke="url(#e)"
      stroke-linejoin="round"
      d="M134.5 9.75h-8.062L124 2.25l-2.438 7.5H113.5l6.562 4.5-2.531 7.5L124 17.062l6.469 4.688-2.531-7.5 6.562-4.5Z"
    ></path>
    <defs>
      <linearGradient
        id="a"
        x1="4.065"
        x2="17.971"
        y1="3.643"
        y2="22.283"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="b"
        x1="32.065"
        x2="45.971"
        y1="3.643"
        y2="22.283"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="c"
        x1="60.065"
        x2="73.971"
        y1="3.643"
        y2="22.283"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="d"
        x1="88.065"
        x2="101.971"
        y1="3.643"
        y2="22.283"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
      <linearGradient
        id="e"
        x1="116.065"
        x2="129.971"
        y1="3.643"
        y2="22.283"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#F84119"></stop>
        <stop offset="1" stop-color="#F89F19" stop-opacity=".68"></stop>
      </linearGradient>
    </defs>
  </symbol>
</svg>

<section class="section">
  <div class="container">
    <h1 class="section-title visually-hidden">Search gallery films</h1>
    <form class="catalog__form" id="search-form">
      <input
      class="catalog__form-input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search"
      />
      <button class="button-search" type="submit">
        <img src="/src/images/icons-png/search-white.png" alt="Search" class="icon-search">
      </button>
    </form>
  </div>
</section>
<section class="section">
  <div class="container">
    <ul class="gallery__films js-cards"></ul>
  </div>
</section>
<ul id="pagination" class="tui-pagination"></ul>
<include src="./partials/modals-mobile-menu/film-info-modal.html"></include>

<!-- <div class="itc-select" id="select-1">
 <button type="button" class="itc-select__toggle btn-year" name="genre" value="" data-select="toggle" data-index="-1">Year</button>
    
    <div class="itc-select__dropdown">
        <ul class="itc-select__year">
  </div>

<div class="itc-select" id="select-2">  
  <button type="button" class="itc-select__toggle btn-genres" name="genre" value="" data-select="toggle" data-index="-1">Genre</button>
    <div class="itc-select__dropdown">
    <ul class="itc-select__genres">
    </ul>
  </div>
</div>

<div class="itc-select" id="select-3">
    <button type="button" class="itc-select__toggle" name="country" value="" data-select="toggle" data-index="-1">Country</button>
        <div class="itc-select__dropdown">
        <ul class="itc-select__countries">
        </ul>
    </div>
</div> -->
