<section>
  <div class="container">
    <div class="library__message">
      <!-- <h2 class="title-error">
      OOPS...<br />
      We are very sorry!<br />
      You don’t have any movies at your library.</h2> -->
    </div>
    <div class="library__search-button">
      <a href="/src/catalog.html" class="search-button">Search movie</a>
    </div>
    <ul class="gallery__films libraryFilms"></ul>
    <div class="btn">
      <button class="button__scroll__up" id="button-up">up</button>
      <button type="button" class="load-more hidden">Load more</button>
    </div>
  </div>
</section>
