:root {
  --light-theme-color-text: #111111;
  --light-theme-color-text2: #282828;
}




.header {
  padding-top: 8px;
  padding-bottom: 8px;

  @include tablet {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.header__section {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__link--logo {
  @include tablet {
    margin-right: 59px;
  }

  @include desktop {
    margin-right: 307px;
  }
}

.header__block--logo {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  width: 32px;
  height: 32px;

  @include tablet {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
}

.header__title {
  display: none;

  @include tablet {
    display: block;
    font-size: 24px;
    line-height: calc(28 / 24);
    color: getColor('primary-text-color-dark-theme');
  }
}

.header__nav {
  display: none;

  @include tablet {
    display: block;
    margin-right: auto;
  }
}

.header__list {
  display: flex;
  gap: 32px;
}

.header__link {
  @include tablet {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: getColor('buttons-color-dark-theme');
  }
}

.header__menu {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: getColor('tertiary-text-color-dark-theme');
  background-color: rgba(28, 28, 28, 0);
  border: none;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.header__change {
  cursor: pointer;
  width: 38px;
  height: 16px;
  padding: 4px;
  border-radius: 194px;
  border: none;
  display: flex;
  position: relative;

  @include tablet {
    width: 54px;
    height: 20px;
    padding: 5px;
  }

  @include desktop {
    width: 60px;
    height: 24px;
    padding: 4px, 5px, 4px, 6px;
  }
}

.header__svg {
  fill: white;

  @include tablet {
    width: 10px;
    height: 10px;
  }

  @include desktop {
    width: 13px;
    height: 13px;
  }
}

.header__svg--right {
  margin-right: 14px;

  @include tablet {
    margin-right: 24px;
  }
}

.header__animation {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
  position: absolute;
  top: 2px;
  right: 2px;

  @include tablet {
    width: 16px;
    height: 16px;
  }

  @include desktop {
    width: 18px;
    height: 18px;
    top: 3px;
    right: 3px;
  }
}

//  --------------------------CHANGE THEME ------------------------
.changeTheme {
  @media screen and (max-width: 767px) {
    transform: rotate(180deg) translateX(22px);
  }

  @include tablet {
    transform: rotate(180deg) translateX(34px);
  }
}

.white-theme {
  background-color: white;
}

.white-theme .header__title {
  color: var(--light-theme-color-text2)
}

.white-theme .weekly-trends_title {
  color: var(--light-theme-color-text)
}

.white-theme .upcoming-soon_title {
  color: var(--light-theme-color-text)
}

.white-theme .upcoming-soon_film__title {
  color: var(--light-theme-color-text)
}

.white-theme .upcoming-soon_text {
  color: var(--light-theme-color-text)
}

.white-theme .release-data__container {
  color: var(--light-theme-color-text)
}

.white-theme .upcoming-soon_votes {
  color: var(--light-theme-color-text);
}

.white-theme .upcoming-soon__votes {
  background-color: #F8F8F8;
}

.white-theme .upcoming-soon__vote {
  background-color: #F8F8F8;
}

.white-theme .upcoming-soon_about {
  color: var(--light-theme-color-text)
}

.white-theme .upcoming-soon_about__text {
  color: var(--light-theme-color-text2)
}

.white-theme .upcoming-soon__genr {
  color: var(--light-theme-color-text)
}

.white-theme .upcoming-soon_popularity {
  color: var(--light-theme-color-text2)
}

.white-theme .footer {
  background-color: white;
}

.white-theme .footer__paragraph {
  color: #595959;
}

.white-theme .header__link {
  color: #595959;
}

.header__change {
  background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
}

.white-theme--animated {
  transition: background-color 1s ease-in-out;
}

.white-theme .modal-movie {
  background-color: WHITE;
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);

}

.white-theme .thumb-right__title {
  color: var(--light-theme-color-text)
}

.white-theme .thumb-right__name-item {
  color: var(--light-theme-color-text)
}

.white-theme .thumb-right__about {
  color: var(--light-theme-color-text)
}

.white-theme .thumb-right__overview {
  color: var(--light-theme-color-text2)
}

.white-theme .thumb-right__vote {
  background-color: #F8F8F8;
}

.white-theme .thumb-right__votes {
  background-color: #F8F8F8;
}

.white-theme .thumb-right__delimiter {
  color: #B7B7B7;
}

.white-theme .thumb-right__value-item {
  color: var(--light-theme-color-text)
}

.white-theme .close--two {
  color: #282828
}

.white-theme .btn-close__icon {
  stroke: black !important;
  fill: black !important;
  color: black
}

.white-theme .modal-card__btn-wrap {
  color: white;
}

// .white-theme .modal-card__library-btn {
//   color:#111111;
//   background: white;
//   border: red;
//   transition: none;
// }
.white-theme .modal-card__library-btn {
  color: black;
  background: white;
  border-color: orange;
}

.white-theme .modal-card__library-btn:hover {
  color: white;
  background: linear-gradient(#111111, #111111) padding-box,
    linear-gradient(45deg, #ffc226, #f84119) border-box;
  border: 1px solid transparent;
}

.white-theme .upcoming-soon_button:hover {
  color: #F87719;
  background: linear-gradient(WHITE, WHITE) padding-box,
    linear-gradient(45deg, #ffc226, #f84119) border-box;
  border: 1px solid transparent;
}

.white-theme .hero__frame {
  content: url(../images/hero-substract/subtract-white-desktop.png);
}
.white-theme .footer__modal {
  background-color: white;
}
.white-theme .team__item {
  background: #F8F8F8;;
  border: 1px solid transparent;
}
.white-theme .team__student-name {
  color: black;
}
.white-theme .team__student-role {
  color:#F87719
}
.white-theme .modal__icon-close {
  stroke: black;
}
.white-theme .team__student-svg {
fill:black
}
.white-theme .hero__title {
  color: #111111
}
.white-theme .hero__description {
  color:#282828;
}