// FOOTER--MODAL
.backdrop {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  position: fixed;
}

.footer__modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 60px;
  width: calc(100% - 40px);
  height: 90vh;

  border-radius: 10px;
  background-color: getColor('primary-bg-color-dark-theme');
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;

  text-align: center;
  overflow-y: auto;

  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

// MODAL-BUTTON-CLOSE
.modal__button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  right: 40px;
  padding: 0;
  width: 16px;
  height: 16px;

  border: none;

  color: getColor('primary-text-color-dark-theme');
  background: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @include tablet {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }

  & .modal__icon-close {
    width: 16px;
    height: 16px;
    fill: getColor('accent-color');

    @include tablet {
      width: 24px;
      height: 24px;
    }

    .modal__button-close:focus > &,
    .modal__button-close:hover > & {
      fill: getColor('accent-color');
    }
  }
}

.team {
  margin-bottom: 20px;

  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: getColor('primary-text-color-dark-theme');

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.team__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 20px;

  border: 1px solid getColor('accent-color');
  border-radius: 20px;

  @include mobile {
    flex-basis: calc((100% - 30px) / 1);
  }

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    max-height: 280;
    flex-basis: calc((100% - 60px) / 4);
  }
}

.team__foto-thumb {
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid getColor('accent-color');
}

.team__student-foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team__student-card {
  margin-bottom: 0px;
}

.team__student-name {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 23px;

  text-transform: uppercase;
  color: getColor('primary-text-color-dark-theme');
}

.team__student-role {
  font-size: 20px;
  line-height: 23px;
  color: getColor('tertiary-text-color-dark-theme');
}

.noScroll {
  overflow: hidden;
}
