.backdrop {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  position: fixed;
  z-index: 3000000000000;
}

.modal-trailer {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 60px;
  width: 280px;
  height: 289px;

  border-radius: 10px;
  background-color: getColor('primary-bg-color-dark-theme');
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;

  text-align: center;
  overflow-y: auto;
  z-index: 3000000000000;

  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-trailer--light {
  background-color: getColor('bg-color-white-theme');
  box-shadow: 1px 1px 14px 4px rgba(0, 0, 0, 0.22);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__button-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 40px;
  right: 40px;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  color: getColor('primary-text-color-dark-theme');
  background: transparent;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  @include tablet {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    color: getColor('accent-color');
    background: linear-gradient(
      getColor('accent-gradient1-from-color'),
      getColor('accent-gradient1-to-color')
    );
    border-radius: 50%;
  }

  & .modal__icon-close {
    width: 16px;
    height: 16px;
    fill: var(--color1, #fff);

    @include tablet {
      width: 24px;
      height: 24px;
    }
  }

  &:hover .modal__icon-close,
  &:focus .modal__icon-close {
    fill: getColor('accent-color');
  }
}

.modal__button-close--light {
  color: getColor('primary-text-color-white-theme');
}

.trailer-text {
  //   margin-bottom: 40px;

  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: getColor('primary-text-color-dark-theme');

  //   @include tablet {
  //     margin-bottom: 40px;
  //     font-size: 24px;
  //     line-height: 28px;
  //   }

  //   @include desktop {
  //     margin-bottom: 60px;
  //     font-size: 24px;
  //     line-height: 32px;
  //   }
}

.trailer-text--light {
  color: getColor('primary-text-color-dark-theme');
}

.noScroll {
  overflow: hidden;
}
